<div class="row tm-about-row">

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">

        <div class="tm-about-box tm-about-box-left">
            <h2 class="tm-about-title">Integer in ligula non arcu tincidunt</h2>
            <p class="tm-about-description">Lorem ipsum dolor site amet, consectetur adipiscing elit. Proin quis mattis elit, et auctor odio. Phasellus cursus lectus vel ligula sagittis, aclacinia mi pulvinar.</p>
            <p class="tm-about-description">Praesent posuere sollicitudin nisi eu egestas. Quisque interdum nisl sit amet turpis auctor, quis suscipit ipsum congue. Maecenas id tortor ultrices tellus maximus varius at vel neque. Aliquam vitae tortor suscipit, bibendum velit eget, euismod
                mauris.
            </p>
            <p class="tm-about-description tm-highlight-text">Praesent accumsan enim imperdiet nunc dictum venenatis. Maecenas venenatis neque non nisl tincidunt rhoncus. Duis accumsan turpis a lacus interdum, eu varius augue maximus. Ut faucibus pharetra neque.</p>
        </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

        <div class="tm-about-box">
            <h2 class="tm-about-title">Duis imperdiet aliquet</h2>
            <p class="tm-about-description">Quisque id nunc ut orci tincidunt ultricies ac id sem. Pellentesque at lacuc nulla. Quisque tempor, elit vel mollis interdum, tellus nibh porta eros, facilisis dictum erat mi ut nulla.</p>
            <p class="tm-about-description">Fusce maximus et mi vitae eleifend. Quisque dapibus ex eu massa dapibus, sollicitudin aliquet quam accumsan. Vestibulum rutrum molestie purus vitae congue.</p>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <div class="tm-about-box-2">
            <img src="assets/img/img-11-01.jpg" alt="Image" class="img-fluid">
            <p class="tm-about-description-2">Ut maximus, purus venenatis volutpat pellentesque, lectus metus egestas lacus, nec scelerisque magna tortor eget massa. Nulla in lacinia metus. #000</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <div class="tm-about-box-2">
            <img src="assets/img/img-11-03.jpg" alt="Image" class="img-fluid">
            <p class="tm-about-description-2">Duis augue risus, auctor nec neque eu, sodales egestas ligula. Ut maximus, purus venenatis volutpat pellentesque, lectus metus egestas lacus, nec scelerisque.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <div class="tm-about-box-2">
            <img src="assets/img/img-11-05.jpg" alt="Image" class="img-fluid">
            <p class="tm-about-description-2">Nulla in lacinia metus. Quisque hendrerit ullamcorper lacus eget tincidunt. Praesent convallis felis sed efficitur porta. Duis vitae eros elit. Nam vitae quam.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <div class="tm-about-box-2">
            <img src="assets/img/img-11-07.jpg" alt="Image" class="img-fluid">
            <p class="tm-about-description-2">Praesent convallis felis sed efficitur porta. Duis vitae eros elit. Nam vitae quam metus. Nam congue augue non accumsan consequat. Proin consequat elit.</p>
        </div>
    </div>
</div>
<!-- row -->

<div class="row tm-about-row-3">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-about-col-3-left">
        <div class="tm-about-box-3 tm-blue-bg">
            <h2 class="tm-about-title-3 tm-yellow-text">Lorem ipsum dolor #FF0</h2>
            <p class="tm-about-description-3">Quis tempor, elit vel mollis interdum, tellus nibh porta eros, facilisis dictum erat mi ut nulla. Cras eget accumsan risus. Fusce maximus et mi vitae eleifend. Quisque dapibus ex eu massa dapibus, sollicitudin aliquet quam accumsan. Text #FFF
                | BG #06C</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-about-col-3-right">
        <div class="tm-about-box-3 tm-gray-bg">
            <h2 class="tm-about-title-3 tm-blue-text">Lorem ipsum dolor #06C</h2>
            <p class="tm-about-description-3">Quis tempor, elit vel mollis interdum, tellus nibh porta eros, facilisis dictum erat mi ut nulla. Cras eget accumsan risus. Fusce maximus et mi vitae eleifend. Quisque dapibus ex eu massa dapibus, sollicitudin aliquet quam accumsan. Text #333</p>
        </div>
    </div>
</div>