<div class="row">
    <div class="col-lg-12">
        <nav class="navbar">

            <div id="tmNavbar">
                <div class="nav navbar-nav tm-nav">

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0 tm-nav-item-pair">
                        <div class="nav-item" [routerLinkActive]="['active']">
                            <a routerLink="/">Home</a>
                        </div>
                        <div class="nav-item" [routerLinkActive]="['active']">
                            <a routerLink="/1">About</a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0 tm-nav-item-pair">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item" [routerLinkActive]="['active']">
                            <a routerLink="/2">Services</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item" [routerLinkActive]="['active']">
                            <a routerLink="/3">Blog</a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0 tm-nav-item-pair">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item" [routerLinkActive]="['active']">
                            <a routerLink="/4">Contact</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item tm-dummy-nav-item">
                            <div class="nav-link">&nbsp;</div>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </div>

</div>
<router-outlet></router-outlet>