<div class="row tm-contact-form-row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-contact-form-col-left">
    <h2 class="tm-contact-form-title">Contact Us</h2>
    <form class="tm-contact-form" [formGroup]="contactForm" *ngIf="active" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <input pInputText pTooltip="Enter your Name" type="text" id="contact_name" formControlName="contact_name" class="form-control" placeholder="Name" required minlength="4" maxlength="24" name="contact_name" />
        <div *ngIf="formErrors.contact_name" class="alert alert-danger">
          {{ formErrors.contact_name }}
        </div>
      </div>

      <div class="form-group">
        <input pInputText pTooltip="Enter your email" type="email" id="contact_email" formControlName="contact_email" class="form-control"
          placeholder="Email" required/>
        <div *ngIf="formErrors.contact_email" class="alert alert-danger">
          {{ formErrors.contact_email }}
        </div>
      </div>

      <div class="form-group">
        <input pInputText pTooltip="Enter Subject.." type="text" id="contact_subject" formControlName="contact_subject" class="form-control"
          placeholder="Subject" required/>
        <div *ngIf="formErrors.contact_subject" class="alert alert-danger">
          {{ formErrors.contact_subject }}
        </div>
      </div>

      <div class="form-group">
        <textarea pInputText pTooltip="Enter Message" id="contact_message" formControlName="contact_message" class="form-control"
          rows="6" placeholder="Message" required></textarea>
        <div *ngIf="formErrors.contact_message" class="alert alert-danger">
          {{ formErrors.contact_message }}
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="pull-xs-right tm-submit-btn" [disabled]="!contactForm.valid" (click)="createMessage()">Submit</button>
      </div>

    </form>
  </div>

  <!-- Google Map -->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <h2 class="tm-contact-form-title">Location</h2>
    <!--<sebm-google-map [latitude]="lat" [longitude]="lng">
      <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    </sebm-google-map>-->
  </div>
  <!-- Google Map End -->
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="tm-search-form-container tm-blue-bg">
      <form class="form-inline tm-search-form">
        <div class="form-group tm-form-group-search">
          <input  [(ngModel)]='searchKeyword' type="text" name="search_term" class="form-control tm-search-input" id="inputSearch" placeholder="Type your question..." value="">
        </div>
        <button type="submit" class="btn tm-search-btn" (click)="getSearchResults()">Search</button>
      </form>
    </div>
  </div>
</div>
<!-- row -->

<div *ngIf="searchRes" class="row tm-faq-row">
  
    <div *ngFor="let result of searchRes" class="tm-about-box">
      <div class="tm-about-description">
        <a href="{{result.link}}" class="tm-highlight-text">{{result.title}}</a>
        <p>{{result.snippet}}</p>
      </div>
    </div>

</div>
